.custom-bg {
    height: 600px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top !important;
}

.poster-img {
    height: 500px;
    margin: 50px 0px 50px 50px;
    width: 30%;
}

.banner-content {
    padding: 25px;
}

.banner-rating {
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 450px) { 
    .banner-heading {
        font-size: 26px !important;
    }
    .banner-tagline {
        font-size: 17px !important;
    }
    .banner-info {
        font-size: 17px !important;
    }
}

.banner-btns {
    padding-left: 19px;
}

.separator-1 {
    margin-top: 50px;
    margin-bottom: 40px;
    height: 1px;
    background: rgba(255, 255, 255, 0.685);
}

.separator-2 {
    height: 1px;
    background: rgba(255, 255, 255, 0.685);
    margin-bottom: 40px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
    max-width: 175px;
}
.carousel-img {
    border-radius: 10px;
    margin-bottom: 3px;
    box-shadow: 0px 0px 5px black;
}

.alice-carousel {
    padding-bottom: 40px;
}